@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'JetBrains Mono';
	src: url(../public/ttf/JetBrainsMono-Regular.ttf);
}

@font-face {
	font-family: 'JetBrains Mono Bold';
	src: url(../public/ttf/JetBrainsMono-Bold.ttf);
}

@font-face {
	font-family: 'JetBrains Mono Extra Bold';
	src: url(../public/ttf/JetBrainsMono-ExtraBold.ttf);
}

@font-face {
	font-family: 'JetBrains Mono Italic';
	src: url(../public/ttf/JetBrainsMono-Italic.ttf);
}

.animated-background {
    background-size: 1200%;

    -webkit-animation: animation 6s ease infinite;
    -moz-animation: animation 6s ease infinite;
    animation: animation 6s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}